.new-activity-container {
    width: 80vw;
    padding: 0.5rem;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
}

/* Horizontal Line */
.new-activity-container hr {
    margin: 0 0 0.4rem 0;
    opacity: 0.5;
}

/* Textarea */
.new-activity-container textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
    font-size: 1.5rem; /* Description Text Size */
}

/* Title Textarea */
/* Overwrites the font-size stated above */
.new-activity-container textarea:first-child {
    font-size: 2rem;
}

/* Textarea Placeholder */
.new-activity-container textarea::placeholder {
    color: white;
    opacity: 0.5;
}

.new-activity-container button {
    font-size: 2.25rem;
}