.new-activity-wrapper {
    width: 80vw;
    background-color: #555;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
}

.new-activity-title {
    font-size: 2rem;
}

.new-activity-desc {
    font-size: 1.5rem;
    min-height: 5rem;
}

textarea::placeholder {
    color: #BBB;
}