.new-activity-wrapper {
    width: 80vw;
    background-color: #555;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
}

hr {
    margin: 0;
}

.new-activity-title {
    font-size: 2rem;
}

.new-activity-desc {
    font-size: 1.5rem;
    /* min-height: 5rem; */
}

textarea::placeholder {
    color: #BBB;
}