.calendar-container {
    --container-width: 400px;
    width: var(--container-width);
    background-color: #222227;
    display: none;
    position: absolute;
}

/* Header */
.calendar-container > div {
    display: flex;
    justify-content: space-between;
}

/* Background Color of Header, Current Date, Date Button Hover */
.calendar-container > div,
.calendar-curr-date,
.calendar-container td button:hover {
    background-color: #1194f1;
}

/* Arrow Icons */
.calendar-container > div button {
    font-size: 3rem;
}

/* Background Color Transition for Arrow Buttons and Date Buttons */
.calendar-container button {
    transition: background-color 0.25s;
}

/* Arrow Icons Hover */
.calendar-container > div button:hover {
    background-color: #37abff;
}

/* Month and Year Header */
.calendar-container > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
}

/* Month Span */
.calendar-container span:first-child {
    font-size: 2rem;
}

/* Year Span */
.calendar-container span:last-child {
    font-size: 1.2rem;
}

/* Table */
.calendar-container table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

/* Days of the Week */
.calendar-container th {
    padding: 1rem;
}

/* Dates in the Month */
.calendar-container td {
    height: calc(var(--container-width) / 7);
    text-align: center;
    font-size: 0.9rem;
    padding: 0;
}

.calendar-container td button {
    width: 100%;
    height: 100%;
}